<span style="text-align: center; padding-bottom: 1em; padding-top: 1em; display: block;">
  Phase: {{ phase }}
</span>
<app-vote *ngIf="phase === votePhase" [gameId]="gameId" [name]="name" [visible]="phase === votePhase" (emitter)="voted($event)"></app-vote>
<app-answer *ngIf="phase === answerPhase" [gameId]="gameId" [name]="name" [visible]="phase === answerPhase" (emmiter)="answered($event)"></app-answer>
<app-join-game *ngIf="phase === joinPhase" (emitter)="joined($event)"></app-join-game>
<app-wait *ngIf="phase === waitPhase" [gameId]="gameId" [showStartButton]="realPhase === joinPhase"></app-wait>