<div id="countdown">
  Countdown: {{ countdown }}
</div>
<div id="prompt">
  Prompt: {{ prompt }}
</div>
<div id="answers">
  <div id="left">
    <div id="left-answer">
      Left Answer:
      <br>
      <span>
        {{ leftAnswer }}
      </span>
    </div>
    <div *ngIf="showVotes" id="left-score">
      Left Score: {{ leftScore }}
    </div>
  </div>
  <div id="right">
    <div id="right-answer">
      Right Answer:
      <br>
      <span>
        {{ rightAnswer }}
      </span>
    </div>
    <div *ngIf="showVotes" id="right-score">
      Right Score: {{ rightScore }}
  </div>
</div>